@media (max-width: 576px) { 
    .carousel {
        position: relative;
        display: flex;
        visibility: visible;
        margin: 30px 15px 0px 15px;
        &__item {
            padding: 44px 19px;
            margin-right: 15px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            // padding: 14px 15px;
            width: 290px;
            min-height: 217px;
            border: 3px solid #fff;
            border-radius: 35px 0;
            backdrop-filter: blur(15px);
            background: rgba(255, 255, 255, 0.3);
        }
        &__round {
            margin: 0 auto;
            margin-top: 44px;
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 74px;
            height: 73px;
            background-color: #5e7600;
            border: 1px solid #fff;
            border-radius: 100%;
        }
        &__descr {
            padding-top: 22px;
            text-align: center;
            color: #f6ffd2;
        }
        
        .slick-prev {
            bottom: -35px;
            left: 20px;
            position: absolute;
            background: transparent;
            border: none;
            color: #fff;
            img {
                width: 110px;
                height: 24px;
            }
        }
        .slick-next {
            bottom: -35px;
            position: absolute;
            right: 20px;
            background: transparent;
            border: none;
            color: #fff;
            img {
                width: 110px;
                height: 24px;
            }
        }
    }
    
}